* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none; 
}
/***************************Galeria*****************************/
a{
	color: white;
	text-decoration: none;
    font-family: Arial Rounded MT;
    font-size: 15px;
    transition: color 0.5s;
}

.nav {
    width: 100%;  
    height: 60px; 
    background-color: #181818;     
}

.nav a {
    padding:20px 20px 20px 20px;
    height: 60px;
    color:#fff;
    border-left:1px solid #595959;
	text-decoration: none;
    font-family: Arial Rounded MT;
    font-size: 15px;
    transition: color 0.5s;
    display: block;
    z-index: 1;
    position: relative;
}

.nav li {
    float:left; /*.nav li con float: left hace que los elementos dentro del li se desplieguen todos en horizontal*/
}

.logo {
    width: 400px;
    height: 135px;
    margin-right: 20px;
    margin-top: 15px;
    float: right;
    z-index: 1;/*-------------|*/
    position: relative;/*-----|---> Estas dos líneas de código permite al logo estar por arriba del carousel, y no debajo de las imagenes del carousel*/
}

.container1{
    margin: auto;
    width: 100%;
    height: 700px;
}

footer{
    background-color:  #181818;
    position: fixed;
    height: 90px;
	bottom: 0;
    width: 100%;
    margin-top: 100%;
    clear: both;
}

.footertxt, .footertxt1, .footertxt2{
    color: white;
    font-family: Arial Unicode MS;
    left: 0;
    font-size: 15px;
}

.footertxt{
    padding: 35px 0px 0px 0px;
}

.footertxt2{
    padding: 5px 0px 0px 10px;
}
  
.footersep{
    width: 220px;
    float: right;
    height: 60px;
    margin-top: 18px;
    text-align: center;
}

.footersep1{
    width: 270px;
    float: left;
    height: 90px;
    margin-left: 10%;
}
  
.footersep2{
    width: 100%;
    float: left;
    margin-top: 3%;
    text-align: center;
    display: block;
}

.footersep2 li {
    float:left; 
}

.rslogo{
    height: 30px;
    width: 30px;
}

.rslogo1{
    padding-left: 20px;
    height: 30px;
    width: 50px;
}

.body1{
    background-color: #FFE320;;
    margin: 0;
    padding: 0;
    position: relative;
    height: 1900px;
    width: 100%;
    min-width: 200px;
    min-height: 100%;
}

.contenido1{
    padding-bottom: 2.5rem; 
    /*overflow: ;
 	position:;*/
    width: 100%;
}

html{
    position: relative;
    min-height: 10vh;
    display: block;
    width: 100%;
}

.container1{
    margin: auto;
    width: 100%;
    height: 700px;
}

/*ul, li{
    margin: 0;
    padding: 0;
    list-style: none; 
}*/

.menu1{
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding-top: 5px;
}

ul.slider1{
    position: relative;
    height: 100%;
    max-width: 1024px;
    margin:auto;
    width: 100%;
}

ul.slider1 li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    transition: opacity .5s;
    width: 100%;
    
}

ul.slider1 li img{
    height: 100%;
    width: 100%;
}

ul.slider1 li:first-child{
    opacity: 1;
}

ul.slider1 li:target {
    opacity: 1; 
}

.galeria{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 60%;
    padding-top: 10px;
}

.galcontenedor{
    width: 100%;
    margin: auto;
}

.galimg{
    width: 100%;
    height: 100%;
}

.autocolumna{
    margin: 7px;
    box-shadow: 0px 0px 0px;
    transition: box-shadow 0.3s;
    width: 100;
}

.autocolumna:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.autos .galcontenedor{
    display: grid;
    padding-bottom: 100px;
}

/****************************************************************/

