* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********************Esqueleto********************************/
a{
	color: white;
	text-decoration: none;
    font-family: Arial Rounded MT;
    font-size: 15px;
    transition: color 0.5s;
}

.nav {
    width: 100%;  
    height: 60px; 
    background-color: #181818;     
}

.nav a {
    padding:20px 20px 20px 20px;
    height: 60px;
    color:#fff;
    border-left:1px solid #595959;
	text-decoration: none;
    font-family: Arial Rounded MT;
    font-size: 15px;
    transition: color 0.5s;
    display: block;
    z-index: 1;
    position: relative;
}

.nav li {
    float:left; /*.nav li con float: left hace que los elementos dentro del li del nav se desplieguen todos en horizontal*/
}

.logo {
    width: 400px;
    height: 135px;
    margin-right: 20px;
    margin-top: 15px;
    float: right;
    z-index: 1;/*-------------|*/
    position: relative;/*-----|---> Estas dos líneas de código permite al logo estar por arriba del carousel, y no debajo de las imagenes del carousel*/
}

body{
    background-color: #FFE320;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 850px;
}

.contenido{ 
    /*padding-bottom: %;
    overflow: ;
 	position: ;*/
    display: block;
    height: 100%;
}

.articleindex, .articleindex2{
    width: 70%;
    /*position: ;*/
    margin: 15% 0px 0px 15%;
}

.articleindex{
    margin-bottom: 0px;
    height: 40%;
    margin-top: 20px; /*Separación del article con el nav*/
}

.articleindex2{
    height: 40%;
    margin-top: 10px;
}


/****************************************************************/

/************************Carousel********************************/

.container{
    margin: auto;
    width: 100%;
    height: 95%;
    background-color: #181818;
    
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none; 
}

ul.slider{
    position: relative;
    height: 100%;
    margin:auto; 
    width: 75%;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    transition: opacity .5s;
    width: 100%;
}

ul.slider li img{
    height: 100%;
    width: 100%;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target {
    opacity: 1; 
}

.menu, .menu1{
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding-top: 5px;
}

.menu li{
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #181818;
    padding: 9px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    border-radius: 100%;
}
  
/****************************************************************/

/*************************Contacto/Pie***************************/

footer{
    background-color:  #181818;
    position: fixed;
    height: 90px;
	bottom: 0;
    width: 100%;
    margin-top: 100%;
    clear: both;
}

.footertxt, .footertxt1, .footertxt2{
    color: white;
    font-family: Arial Unicode MS;
    left: 0;
    font-size: 15px;
}

.footertxt{
    padding: 35px 0px 0px 0px;
}

.footertxt2{
    padding: 5px 0px 0px 10px;
}
  
.footersep{
    width: 220px;
    float: right;
    height: 60px;
    margin-top: 18px;
    text-align: center;
}

.footersep1{
    width: 270px;
    float: left;
    height: 90px;
    margin-left: 10%;
}
  
.footersep2{
    width: 100%;
    float: left;
    margin-top: 3%;
    text-align: center;
    display: block;
}

.footersep2 li {
    float:left; 
}


.rslogo{
    height: 30px;
    width: 30px;
}

.rslogo1{
    padding-left: 20px;
    height: 30px;
    width: 50px;
}

/****************************************************************/

