/*********Auto ajustable de la galeria para trabajos rec. y ant.*********/

@media screen and (max-width: 330px){

    .nav a{
        padding-top: 10px;
        font-size: 7px;
        height: 30px;
    }

    .nav{
        height: 30px;
    }

    .autocolumna{
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .autos{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media(max-width: 519px){
    .autos .galcontenedor{
        grid-template-columns: repeat(1, 100%);
    }

    .galcontenedor{
        width: 100%;
    }

    .body1{
        height: 3600px;
        
    }

    ul.slider1{
        display: none;
    }

    .menu1{
        display: none;
    }
    
    .container1{
        min-height: 100%;
        margin-bottom: -50px;
        
    }

    .autocolumna{
        width: 100%;
        height: 200px;
    }

    .autos{
        width: 90%;
        margin-left: 3%;
        margin-right: 7%;
    }

    .footertxt, .footertxt1, .footertxt2{
        font-size: 13px;
    }
}

@media(min-width: 520px){
    .autos .galcontenedor{
        grid-template-columns: repeat(2, 50%);
    }

    .galcontenedor{
        width: 100%;
    }

    .body1{
        height: 2550px;
    }
   
}

@media(min-width: 728px){
    .autos .galcontenedor{
        grid-template-columns: repeat(3, 33.3%);
    }

    .galcontenedor{
        width: 728px;
    }

    .body1{
        height: 2050px;
    }
}

@media(min-width: 1024px){
    .autos .galcontenedor{
        grid-template-columns: repeat(4, 25%);

    }

    .galcontenedor{
        width: 1024px;
    }

    .body1{
        height: 1750px;
    }
}

@media(min-width: 1350px){
    .autos .galcontenedor{
        grid-template-columns: repeat(5, 20%);
    }

    .galcontenedor{
        width: 1300px;
    }

    .body1{
        height: 1750px;
    }
}

@media(min-width: 1600px){
    .autos .galcontenedor{
        grid-template-columns: repeat(6, 16.7%);
    }

    .galcontenedor{
        width: 1550px;
    }

    .body1{
        height: 1550px;
    }
}

@media(min-width: 1800px){
    .galcontenedor{
        width: 1750px;
    }

    .body1{
        height: 1600px;
    }
}
/****************************************************************/

/*********Auto ajustable de body, contenido, logo, y nav*********/

@media(max-width: 620px){
    .menu li a{
        width: 26px;
        height: 26px;
        font-size: 10px;
        padding: 7px;
    }
}


@media screen and (max-width: 1200px){
    body{
        width: 100%;
    }

    .articleindex, .articleindex2{
        width: 100%;
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
    }

    .articleindex{
        padding-top: 0px;
    }

    .menu{
        padding: 3px;
    }

    ul.slider{
        width: 100%;
    }

    .contenido{ 
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo{
        width: 300px;
    }
    
}

@media screen and (max-width: 770px){

    .logo{
        display: none;
    }

    body{
        min-height: 695px;
    }

}

@media screen and (max-width: 430px){

    .nav a{
        font-size: 12px;
        height: 55px;
    }

    .nav{
        height: 55px;
    }
    
    body{
        min-height: 730px;
    }
}

@media screen and (max-width: 370px){

    .nav a{
        padding: 19px 15px 13px 13px;
        font-size: 11.9px;
        height: 55px;
    }

    .nav{
        height: 55px;
    }

    body{
        min-height: 740px;
    }
}

@media screen and (max-width: 330px){

    .nav a{
        font-size: 9px;
        height: 50px;
        padding: 20px 13px 13px 13px;
    }
    
    .nav{
        height: 50px;
    }

    .footertxt, .footertxt1, .footertxt2{
        font-size: 13px;
    }

    .autocolumna{
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .autos{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    body{
        min-height: 850px;
    }
}

/****************************************************************/

/*************************Contacto/Pie***************************/

@media(max-width: 585px){

    footer{
        display: block;
        height: 75px;
    }

    .footersep, .footersep1{
        float: none;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto; /*Estas dos lineas centran el texto Copyright y contacto mas los logos de redes sociales, si se compra un hosting el dia de mañana, des-comentar estas dos lineas para que se centren.*/
    }

    .footersep2, .footersep3{
        margin-top: 0%;
      }

    .footertxt{
        padding: 0px 0px 0px 0px;
    }

    .footertxt1{
        padding: 2px 0px 0px 0px;
    }

    .footersep{
        height: 40px;
        margin-top: 0px;
    }

    .footersep1{
        padding-top: 0px;
        height: 40px;
        padding-left: 20px;
    }

    .footersep2{
        padding-left: 30px;
    }
    
}

/****************************************************************/