.titulo{
    font-family: Calibri;
    font-size: 30px;
    color: white;
}

.subtxt, .txt{
    font-family: Arial Unicode MS;
    padding-top: 10px;  
}

.subtxt{
    font-size: 26px;
    padding-left: 5px;
    padding-top: 15px;
}

.txt{
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; /*Esto hace que si tu pagina tiene 70 px de ancho, y 20 px de padding de cada lado, no se sumen en el ancho, si no que se resten por dentro, quedando siempre un ancho de 70px*/
    top: 50%;
	left: 50%;
    font-size: 15px;
}

.txt1{
    font-family: Arial Rounded MT;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.txt2{
    color: black;
	text-decoration: none;
    font-family: Arial Rounded MT;
    font-size: 15px;
    padding-top: 10px;
}
